.login-modal {
    position: fixed;
    top: 0%;
    left: 0%;
    backdrop-filter: blur(9px);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.login-modal.active {
    transform: scale(1.1);
}

.login-container {
    height: 40vh;    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-self: center;
    z-index: 9999;
    width: 30vw;
    background-color: #1F1F22;
    border-radius: 15px;
    padding: 2rem;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}


.login-container h2{
    color: #FCFCFC;
    font-size: 1.5rem;
}

.login-container form{
    display: block;
    margin-top: 30px;
}

.form-input-container{
    padding: 0.9rem;
    
}

.form-input-container input{
    height: 40px;
    width: 80%;
    padding: 0.2rem;
    background-color: transparent;
    padding: 0.7rem 0.9rem;
    border: 1px solid #FCFCFC;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #FCFCFC;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
 }
 
 
 .form-input-container input::selection{
    background-color: #00ffff6b;
    color: #1F1F22;
 }
 
 
 .form-input-container input:active,
 .form-input-container input:hover,
 .form-input-container input::selection{
    border-color: #00ffffe0;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    outline: none;
 }
 


.login-container button{
    width: 80%;
    margin-top: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    padding: 0.9rem;
    border: 2px solid #00ffff86;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #00ffff86;
    color: #1F1F22;
    text-align: center;
}

.login-container button:active{
    border-color: #00ffff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    outline: none;

}

.login-container a{
    color: #00ffffe0;
    text-decoration: none;
}


.login-container p{
    color: #FCFCFC;
    text-decoration: none;
}