/* Main Content styles */


.main-content{
   background-color: #1F1F22;
   width: 85%;
   height: 100vh;
   overflow-x: hidden;
   overflow-y: scroll;
}

.main-content-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px 20px;   
}

.main-content-header .direction-arrows{
   display: flex;
   justify-content: space-between;
   width: 80px;
}

.main-content .mobile-header-end{
   display: none;
}

.main-content .mobile-header{
   display: none;
}

.main-content-header .mobile-header-logo img{
   display: none;
}


.main-content-header .direction-arrows button{
   border: 1.5px solid #fcfcfc6b;
   border-radius: 50%;
   background-color: transparent;
   padding:  8px 10px;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .direction-arrows button:hover{
   border: 1.5px solid #FCFCFC;
   cursor: pointer;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .direction-arrows button:active{
   border: 1.5px solid #00FFFF;
   cursor: pointer;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .direction-arrows button img{
   height: 10px;
   width: 10px;
}

.main-content-header-inner-end{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: end;
}

.main-content-header .search-bar{
   color: #FCFCFC;
   border-radius: 12px;
   height: fit-content;
   border: 1px solid #fcfcfc6b;
   align-items: center;
   padding:0 1rem;
   margin-right: 20px;
   width: 30%;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .search-bar:hover{
   border: 1px solid #fcfcfc;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}


.main-content-header .search-bar input{
   /* width: 300px; */
   background-color: transparent;
   padding: 0.7rem 0.9rem;
   height: 20px;
   outline: none;
   border: none;
   color: #FCFCFC;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}


.main-content-header .search-bar input::selection{
   background-color: #00ffff6b;
   color: #1F1F22;
}


.main-content-header .search-bar input:active,
.main-content-header .search-bar input:hover,
.main-content-header .search-bar input::selection{
   border: none;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
   outline: none;
}



.main-content-header .profile-section{
   border-radius: 50%;
}


.main-content-header .profile-section:hover{
   cursor: pointer;
}


.main-content-header .profile-section img{
   height: 30px;
   width: 30px;
   border-radius: 50%;
}

.main-content-header .profile-section img:hover{
   cursor: pointer;
}

















/* RESPONSIVENESS  */



/* Small Desktop SCREEN Styling  */


@media only screen and (max-width: 1204px) {

   .main-content{
      width: 100%;
      display: block;

   }
   
   .main-content .main-content-header{
      display: block;
      padding: 15px 10px;   
   }

   
   .sidebar-mobile-search-btn{
      display: none;
      background-color: transparent;
      border: none;
   }

   .sidebar-open-btn{
      background-color: transparent;
      border: none;
      color: #fcfcfc80;
      font-size: 1.5rem;
      cursor: pointer;
      font-weight: 600;
      margin-left: 10px;
   }

   .sidebar-open-btn:hover{
      color: #fcfcfc;
   }

   .sidebar-open-btn:active{
      color: #00FFFF;
   }


   .sidebar-mobile-search-btn img{
      height: 25px;
      width: 25px;
   }


   .mobile-close-search-btn{ 
      font-size: 1.1rem;
      border: none;
      top: 45%;
      display: none;
      right: 0px;
      background-color: #1F1F22;
      color: #fcfcfc80;
      cursor: pointer;
   }

   .mobile-close-search-btn:hover{
      color: #fcfcfc;
   }


   

   .main-content .mobile-header{
      display: flex;
      justify-content: space-between;
      height: 40px;
      align-items: center;
   }
   

   .main-content-header .mobile-header-logo img{
      display:block;   
      height: 60px;
      width: 60px;
   }
   
   .main-content .mobile-header-end{
    display: flex;
    justify-content: end;
    width: fit-content;
   }

   .main-content .mobile-header .mobile-header-search-bar{
      height: 20px;
   }

   
   .main-content-header .mobile-header .mobile-header-search-bar{ 
      color: #FCFCFC;
      border-radius: 12px;
      height: fit-content;
      border: 1px solid #fcfcfc6b;
      align-items: center;
      display: flex;
      padding:0 1rem;
      margin-right: 5px;
      width: 280px;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
   }

   .main-content-header .mobile-header .mobile-header-search-bar:hover{
      border: 1px solid #fcfcfc;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
   }

   .main-content-header  .mobile-header .mobile-header-search-bar img{
      margin-right: 4px;
   }

   .main-content-header  .mobile-header .mobile-header-search-bar input{
      background-color: transparent;
      padding: 0.3rem 0rem;
      height: 22px;
      outline: none;
      border: none;
      color: #FCFCFC;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
   }

   .main-content-header  .mobile-header .mobile-header-search-bar input::selection{
      background-color: #00ffff6b;
      color: #1F1F22;
   }

   .main-content-header  .mobile-header .mobile-header-search-bar input:active,
   .main-content-header  .mobile-header .mobile-header-search-bar input:hover,
   .main-content-header  .mobile-header .mobile-header-search-bar input::selection{
      border: none;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      outline: none;
   }


   .main-content-header .profile-section{
      display: none;
   }

   .main-content-header .direction-arrows{
      display: none;
   }

   .main-content .search-bar{
      display: none;
   }

 }

/* End of  Small DesktopSCREEN styling  */





/* TABLET SCREEN Styling  */


@media only screen and (max-width: 768px) {



 }

/* End of TABLET SCREEN styling  */







/* MOBILE SCREEN  */


@media only screen and (max-width: 480px) {


   .main-content-header{
      position: relative;
   }

 

   .sidebar-mobile-search-btn{
      background-color: transparent;
      display: block;
      border: none;
   }

   .sidebar-open-btn{
      background-color: transparent;
      border: none;
      color: #fcfcfc80;
      font-size: 1.4rem;
      font-weight: 600;
      margin-left: 10px;
   }


   .sidebar-mobile-search-btn img{
      height: 23px;
      width: 23px;
   }


   .mobile-close-search-btn{ 
      font-size: 1.1rem;
      border: none;
      top: 45%;
      display: none;
      right: 0px;
      background-color: #1F1F22;
      color: #fcfcfc80;
      cursor: pointer;
   }

   .mobile-close-search-btn:hover{
      color: #fcfcfc;
   }

   .main-content-header .mobile-header .mobile-header-search-bar{
      display: none; 
      right: 0px;
      background-color: #1F1F22;
   }


   .main-content-header  .mobile-header .mobile-header-search-bar img{
      margin-bottom: -4px;
   }

   .main-content-header  .mobile-header .mobile-header-search-bar input{
      background-color: transparent;
      padding: 0.3rem 0.31rem;
      height: 22px;
      outline: none;
      border: none;
      color: #FCFCFC;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
   }

   .main-content-header  .mobile-header .mobile-header-search-bar input:active,
   .main-content-header  .mobile-header .mobile-header-search-bar input:hover,
   .main-content-header  .mobile-header .mobile-header-search-bar input::selection{
      border: none;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      outline: none;
   }


   .main-content-header .profile-section{
      display: none;
   }

   .main-content-header .direction-arrows{
      display: none;
   }

   .main-content .search-bar{
      display: none;
   }
    
    

 }

