.inner-main-content{
    width: 95%;
    height: 100vh;
    /* padding-bottom: 600px; */
    /* background-color: red; */
    padding:1rem 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display:block;
}
.inner-main-content-bottom-filler{
    /* height: 250px;  */
    width: 100%;
}

.inner-main-content-section {
    scroll-margin-top: 100px; /* Adjust based on header height */
    padding-top: 20px; /* Ensure the section content is not hidden behind the header */
}

.inner-main-content::-webkit-scrollbar{
    width: 200px;
}

.inner-main-content::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 8px;
 }
 
 .inner-main-content::-webkit-scrollbar {
    width: 7px;
}
 
.inner-main-content::-webkit-scrollbar :hover {
    width: 10px;
}
 
 .inner-main-content::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}
.inner-main-content::-webkit-scrollbar-thumb {
    background: rgb(201, 214, 223);
    border-radius: 5px;
}

.inner-main-section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; /* Add padding to ensure visibility */
}

.inner-main-section-header h2{
    color: #FCFCFC;
    font-size: 1.4rem;
}


.inner-main-section-header .direction-arrows{
    display: flex;
    justify-content: space-between;
    width: 80px;
 } 
 .inner-main-section-header .direction-arrows button{
    border-radius: 50%;
    background-color: transparent;
    color: #fcfcfc6b;
    font-size: 1.1rem;
    border: none;
    padding:  8px 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
 }
 
 .inner-main-section-header .direction-arrows button:hover{
    cursor: pointer;
    color: #FCFCFC;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
 }
 
 .inner-main-section-header .direction-arrows button:active{
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
 }
 
 .inner-main-section-tile{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center; 
    overflow-x: hidden;
 }

 .inner-main-section-card{
    height: 350px;
    border-radius: 50%;
    /* width: 250px; */ 
    cursor: pointer;
    position: relative;
    margin: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.inner-main-section-card:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform: scale(1.01);
}

.inner-main-secton-card-banner{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit: contain;
}

.inner-main-secton-card-description-filler{ 
    height: 110px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 99; 
}

 
.inner-main-secton-card-description{
    position: absolute;
    bottom: 0;
    z-index: 990;
    backdrop-filter: blur(60px);
    width: 100%;
    left: 0;
}

.inner-main-secton-card-description-inner{
    height: 110px;
    width: 100%;
    position: relative;
    padding: 20px 10px;

}

.inner-main-secton-card-description span{
    font-weight: 700;
}

.inner-main-secton-card-description h3{
    margin: 5px 0;
}

.inner-main-secton-card-description p{
    font-weight: 550;
}


.inner-main-secton-card-description button {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    font-size: 1.2rem;
    right: 10%;
    background-color: #FCFCFC;
    color: #000000;
    border: none;
    padding: 9px 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}


.inner-main-secton-card-description button i{
    font-size: 1.4rem; 
    font-weight: 600;
}

.glide__slides {
    display: flex;
    justify-content: flex-start;
}

.glide__slide {
    flex: 0 0 auto;
    width: calc(25% - 20px); /* Adjust width as needed */
    margin-right: 20px;
}

@media only screen and (max-width:920px) {

    .inner-main-content{
        padding:0.5rem 1rem;
    }
    
    .inner-main-content-bottom-filler{
        height: 200px; 
        width: 100%; 
    }
     
  
    .inner-main-section-header h2{
        color: #FCFCFC;
        font-size: 1.4rem;
    }
    
    
    .inner-main-section-header .direction-arrows{
        display: flex;
        justify-content: space-between;
        width: 80px;
     } 
     
     .inner-main-section-header .direction-arrows button{
        font-size: 1.1rem;
        padding:  8px 10px;
     }
              
     .inner-main-section-card{
        height: 350px;
        margin: 5px;
    }
         
    .inner-main-secton-card-description-inner{
        height: 110px;
        width: 100%;
        position: relative;
        padding: 20px 10px;    
    }
    
    .inner-main-secton-card-description span{
        font-weight: 700;
        font-size: 0.9rem;
    }
    
    .inner-main-secton-card-description h3{
        margin: 5px 0;
    }
    
    .inner-main-secton-card-description p{
        font-weight: 550;
        font-size: 0.8rem;
    }
    
    
    .inner-main-secton-card-description button {
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        font-size: 1.2rem;
        right: 10%;
        background-color: #FCFCFC;
        color: #000000;
        border: none;
        padding: 9px 10px;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }
    
    
    .inner-main-secton-card-description button i{
        font-size: 1.4rem; 
        font-weight: 600;
    }

    .glide__slide {
        width: calc(50% - 10px); /* Adjust width for smaller screens */
    }
}