 *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
 }

 body{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
 }




/* Sidebar Styling */

.navigation-sidebar{
    background-color: #212124;
    height: 100vh;
    width: 15%;
    overflow: hidden;
}

.navigation-sidebar .logo img{
    width: 60px;
    height: 60px;
 }

 .navigation-sidebar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

 .sidebar-top-dropdown-button{
    background-color: transparent;
    height: fit-content;
    border: none;
    cursor: pointer;    
    padding: 3px;
 }

 .sidebar-top-dropdown-button:hover{
    background-color: #4C4E54;
    height: fit-content;
    border: none;  
    border-radius: 8px;
 }

 .inner-sidebar-navigation{
    display: block;
    padding: 20px;
    height: 90vh;
    overflow: scroll;
 }

.inner-sidebar-navigation::-webkit-scrollbar-thumb{
    background-color: #4C4E54;
    border-radius: 8px;
}


 .navigation-sidebar nav {
    margin-bottom: 40px;   
 }

 .navigation-sidebar nav h5{
    color: #9898A6;
    font-size: 13px;
    cursor:default;
    margin-bottom: 10px;
 }

.navigation-sidebar nav li{
    list-style-type: none;
    color: #FCFCFC;
    font-size: 14px;
    padding: 15px 10px;
    font-weight: 500;
    border-radius: 8px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.navigation-sidebar nav li:hover{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    color: #00FFFF;
    background-color: #4C4E54;
    cursor: pointer;
}

.navigation-sidebar nav li img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
}

/* End Sidebar Styling */




/* Main Content styles */


.main-content{
   background-color: #1F1F22;
   width: 85%;
   height: 100vh;
   overflow-x: hidden;
   overflow-y: scroll;
}

.main-content-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px 20px;   
}

.main-content-header .direction-arrows{
   display: flex;
   justify-content: space-between;
   width: 80px;
}


.main-content-header .direction-arrows button{
   border: 1.5px solid #fcfcfc6b;
   border-radius: 50%;
   background-color: transparent;
   padding:  8px 10px;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .direction-arrows button:hover{
   border: 1.5px solid #FCFCFC;
   cursor: pointer;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .direction-arrows button:active{
   border: 1.5px solid #00FFFF;
   cursor: pointer;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .direction-arrows button img{
   height: 10px;
   width: 10px;
}

.main-content-header-inner-end{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: end;
}

.main-content-header .search-bar{
   color: #FCFCFC;
   border-radius: 12px;
   height: fit-content;
   border: 1px solid #fcfcfc6b;
   align-items: center;
   padding:0 1rem;
   margin-right: 20px;
   width: 30%;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .search-bar:hover{
   border: 1px solid #fcfcfc;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}


.main-content-header .search-bar input{
   /* width: 300px; */
   background-color: transparent;
   padding: 0.7rem 0.9rem;
   height: 20px;
   outline: none;
   border: none;
   color: #FCFCFC;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.main-content-header .search-bar input:active,
.main-content-header .search-bar input:hover,
.main-content-header .search-bar input::selection{
   border: none;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
   outline: none;
}



.main-content-header .profile-section{
   border-radius: 50%;
}


.main-content-header .profile-section:hover{
   cursor: pointer;
}


.main-content-header .profile-section img{
   height: 30px;
   width: 30px;
   border-radius: 50%;
}

.main-content-header .profile-section img:hover{
   cursor: pointer;
}






/* Footer music player styles  */

.bottom-music-player{
   display: flex;
   padding: 20px;
   /* justify-content: space-between; */
    position: fixed;
    bottom: 20px;
    width: 100%;
    background-color: #1F1F22;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateY(-0px);
    box-shadow: 5px 0px 6px 2px #00ffff0e;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
 }

 .bottom-music-player:hover{
   transition-duration: 0.3s;
   transition-timing-function: ease-in-out;
   box-shadow: 5px 0px 6px 2px #00ffff33;
   }


.botttom-music-player-music-details{
   align-items: center;
   display: flex;
   cursor:default;
}

.botttom-music-player-music-details span{
   color: #fcfcfc;
   font-weight: 500;
   cursor:default;
   font-size: 0.9rem;
}

.botttom-music-player-music-details p{
   color: #fcfcfcb2;
   font-weight: 500;
   margin-top: 4px;
   font-size: 0.9rem;
   cursor:default;
}


.botttom-music-player-music-details img {
   height: 65px;
   width: 65px;
   margin-right: 10px;
}

.botttom-music-player-music-details-inner{
   align-items: center;
}

.botttom-music-player-music-details button{
   background-color: transparent;
   border: none;
   cursor: pointer;
   color: #fcfcfccb;
   margin-left: 5px;
}

.botttom-music-player-music-details button:hover{
   color: #fcfcfc;
}

.botttom-music-player-music-player-controls{
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
}

.botttom-music-player-music-player-controls-inner-top{
   display: flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
}

.botttom-music-player-music-player-controls .botttom-music-player-music-player-controls-inner-top button{
   margin:0 10px;
   color: #fcfcfca8;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.botttom-music-player-music-player-controls .botttom-music-player-music-player-controls-inner-top button:hover{
   color: #fcfcfc;
}

.botttom-music-player-music-player-controls .botttom-music-player-music-player-controls-inner-top .shuffle-button,
.botttom-music-player-music-player-controls .botttom-music-player-music-player-controls-inner-top .loop-button{
   font-size: 1rem;
}

.botttom-music-player-music-player-controls .botttom-music-player-music-player-controls-inner-top .prev-skip-button,
.botttom-music-player-music-player-controls .botttom-music-player-music-player-controls-inner-top .next-skip-button{
   font-size: 1.3rem;
}

.botttom-music-player-music-player-controls .botttom-music-player-music-player-controls-inner-top .play-button,
.botttom-music-player-music-player-controls .botttom-music-player-music-player-controls-inner-top .pause-button{
   color: #fcfcfc;
   font-size: 2rem;
}

.botttom-music-player-music-player-controls-inner-bottom{
   display: flex;
   align-items: center;
}

.botttom-music-player-music-player-controls-inner-bottom p{
   color: #fcfcfc;
   font-weight: 700;
   font-size: 0.9rem;
   align-items: center;
   padding: 0 5px;
}



/* stlyes for the music range on multiple browsers */

.botttom-music-player-music-player-controls-inner-bottom input[type="range"] {
   -webkit-appearance: none;  
   width: 350px;  
   height: 4px; 
   background: #fcfcfc79;
   border-radius: 5px; 
   outline: none;  
   /* overflow: hidden  */
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]::-webkit-slider-runnable-track {
   width: 100%;
   height: 8px;
   background: linear-gradient(to right, #fcfcfc 50%, #fcfcfc79 50%);  
   border-radius: 5px;
   border: none;
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Removes default styling */
   width: 16px; /* Thumb size */
   height: 16px;
   background: #FCFCFC; 
   border-radius: 50%;  
   cursor: pointer;  
   margin-top: -4px; 
   z-index: 99;
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]:hover::-webkit-slider-thumb,
.botttom-music-player-music-player-controls-inner-bottom input[type="range"]:active::-webkit-slider-thumb {
   background: #00FFFF; 
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]:hover::-webkit-slider-runnable-track,
.botttom-music-player-music-player-controls-inner-bottom input[type="range"]:active::-webkit-slider-runnable-track {
   background: linear-gradient(to right, #00FFFF 50%, #fcfcfc79 50%); /* Adjust progress color during hover/active */
}

/* Firefox */
.botttom-music-player-music-player-controls-inner-bottom input[type="range"]::-moz-range-track {
   width: 100%;
   height: 8px;
   background: #fcfcfc5e;
   border-radius: 5px;
   border: none;
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]::-moz-range-thumb {
   width: 16px;
   height: 16px;
   background: #fcfcfc;
   border-radius: 50%;
   cursor: pointer;
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]:hover::-moz-range-thumb,
.botttom-music-player-music-player-controls-inner-bottom input[type="range"]:active::-moz-range-thumb {
   background: #00FFFF;
}

/* IE */
.botttom-music-player-music-player-controls-inner-bottom input[type="range"]::-ms-track {
   width: 100%;
   height: 8px;
   background: transparent;
   border-color: transparent;
   border-width: 6px 0;
   color: transparent;
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]::-ms-thumb {
   width: 16px;
   height: 16px;
   background: #fcfcfc;
   border-radius: 50%;
   cursor: pointer;
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]::-ms-fill-lower {
   background: #fcfcfc;
   border-radius: 5px;
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]::-ms-fill-upper {
   background: #fcfcfc79;
   border-radius: 5px;
}

.botttom-music-player-music-player-controls-inner-bottom input[type="range"]:hover::-ms-thumb,
.botttom-music-player-music-player-controls-inner-bottom input[type="range"]:active::-ms-thumb {
   background: #00FFFF;
}



.botttom-music-player-music-player-settings{
   display: flex;
   align-items: center;
   padding-right: 50px;
}



.botttom-music-player-music-player-settings button{
   background-color: transparent;
   border: none;
   cursor: pointer;
   color: #fcfcfc6e;
   font-size: 1.5rem;
   margin-left: 10px;
   margin-right: 10px;
}



.botttom-music-player-music-player-settings button:hover{
   color: #FCFCFC;
}


/* End of .bottom foooteer musci player styles  */