 *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
 }

 body{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
 }
 




 



/* RESPONSIVENESS  */



/* Small Desktop SCREEN Styling  */


@media only screen and (max-width: 1204px) {

   body{
   display: block;
   }


 }

/* End of  Small DesktopSCREEN styling  */





/* TABLET SCREEN Styling  */


@media only screen and (max-width: 768px) {

   body{
   display: block;
   }


 }

/* End of TABLET SCREEN styling  */







/* MOBILE SCREEN  */


@media only screen and (max-width: 480px) {

   body{
   display: block;
   }


 }

